<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <title>payments event user</title>
    <type>payments</type> 
    <version>1.0</version>
    <logo>logo.png</logo>
    <description>this module manage the event user payments.</description>
    <author>F.Mallet</author>
    <dependencies>
        <module>site_event</module>
        <module>payments</module>
    </dependencies>
</module> 