<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <title>employers</title>
    <type>employers</type> 
    <version>1.0</version>
    <logo>logo.png</logo>
    <description>this module manage the employers.</description>
    <author>A.Fatima Ezzahraa</author>
    <dependencies>
    <module>employees</module>
    </dependencies>
</module> 