<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <title>payments check</title>
    <type>payments</type> 
    <version>1.0</version>
    <logo>logo.png</logo>
    <description>this module manage payments check actions.</description>
    <author>F.Mallet</author>      
    <dependencies>
        <module>payments</module>       
    </dependencies>
</module> 